.trabalhosindex {
  background-color: #fff;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #49a09d;

}
.sobre {
  background: asset_url("stripe3.png") repeat;
  padding: 40px 0 40px 0;
  h1 {
    font-size: 190%;
    font-family: 'dosis';
    font-weight: 300;
    color: #49a09d;
    text-align: center;
    margin-bottom: 10px;
  }
}
.sobreitem  {
  margin: 40px 0;
  p {
    font-size: 110%;
    font-weight: 300;
    color: #222;
    max-width: 205px;
    margin: auto;
    text-align: center;
    padding-top: 3px;
  }
  h2 {
    font-size: 110%;
    font-weight: 400;
    color: #222;
    text-align: center;
    padding-top: 20px;
  }
}
.bglogoidvisual {
  margin: auto;
  background: #fff asset-url("idvisual.png") no-repeat center center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.bglogoilustracao {
  margin: auto;
  background: #fff asset-url("ilustracao.png") no-repeat center center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.bglogoeditorial {
  margin: auto;
  background: #fff asset-url("editorial.png") no-repeat center center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.bglogoembalagem {
  margin: auto;
  background: #fff asset-url("embalagem.png") no-repeat center center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.textosobre {
  padding: 80px 0 90px 0;
  background-color: #fff;
  margin-top: 40px;
  h2 {
    font-size: 110%;
    font-weight: 400;
    color: #222;
    text-align: center;
  }

  p {
    text-align: center;
    font-weight: 300;
    font-size: 130%;
    padding-top: 20px;
  }
}
.contato {
  background: asset-url("bgcontato.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 40px 0 80px 0;
  h1 {
    font-size: 190%;
    font-family: 'dosis';
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    font-size: 110%;
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    color: #fff;
    font-weight: 300;
  }
  input[type="text"], input[type="email"] {
    height: 37px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    font-weight: 300;
  }
   textarea {
    height: 75px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 300;
    resize: vertical;
  }
  input[type="submit"] {
    background-color: #1B5D5A;
    width: 100%;
    color: #fff;
    border: none;
    padding: 12px 0;
    margin-top: 20px;
    &:hover {
      background-color: #222;
    }
  }
}
.alert {
  margin: 0 !important;
  color: red !important;
  font-size: 110% !important;
  padding-left: 0 !important;
} 
.error {
  color: red;
  top: -15px;
  position: relative;
}
.field_with_errors {
  input, textarea {
    border: 2px solid red;
  }
}