header {
  background-color: #fff;
  border-top: 8px solid #49a09d;
  font-family: 'dosis';
  font-weight: 200;
  .container {
    height: 60px;
  }
}
header a {
  color: #6a6a6a;
  padding: 4px;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid #49a09d;
    text-decoration: none;
  }
}


header .container nav ul {
  float: right;
  margin-top: 23px;
  li {
  display: inline;
  margin-left: 20px;
  }
}

.stripedline {
  background: asset_url("stripe2.png") repeat;
  height: 13px;
}


.navbar-default {
  background-color: #fff;
  border: none;
  margin: 0;
}
@media (min-width: 768px) {
  .navbar-nav > li > a  {
    padding: 7px 12px;
    margin: 15px 10px;
  }
}