.intro {
  padding: 40px 0;
  .logo {
    text-align: center;
    margin-bottom: 30px;
    img {
      width: 190px;
    }
  }
  .description {
    width: 780px;
    text-align: center;
    margin: auto;
    color: #6a6a6a;
    font-weight: 300;
  }
}

