.intro
  .logo = link_to (image_tag "logo.png"), root_path
  .description
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum odio vel orci vulputate porta. Nulla vitae ligula at enim porttitor ullamcorper. Morbi vel purus commodo, imperdiet nibh et, vehicula ante